# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
938W_CT_spinup/build/938WCTspinup.bin
938W_CT_spinup/build/938WCTspinup.elf
938W_CT_spinup/build/938WCTspinup.map
938W_CT_spinup/compile_commands.json
938W_CT_spinup/makefile
938W_CT_spinup/vex/mkenv.mk
938W_CT_spinup/vex/mkrules.mk
938WSPINUPCATA/build/938WSPINUPCATA.bin
938WSPINUPCATA/build/938WSPINUPCATA.elf
938WSPINUPCATA/build/938WSPINUPCATA.map
938WSPINUPCATA/build/938WSKILLZCATAPULTDRIVERANDAUTONLETSGOOO.bin
938WSPINUPCATA/build/938WSKILLZCATAPULTDRIVERANDAUTONLETSGOOO.elf
938WSPINUPCATA/build/938WSKILLZCATAPULTDRIVERANDAUTONLETSGOOO.map
938WSPINUPCATA/build/938WSPINUPCATA.bin
938WSPINUPCATA/build/938WSPINUPCATA.elf
938WSPINUPCATA/build/938WSPINUPCATA.map
